@import url('https://fonts.googleapis.com/css2?familiy=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* 
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #70f;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    background: var(--bg-color);
    color: var(--text-color);
    
}
section {
    
    flex: 1; /* Allow this section to grow and fill available space */

    min-height: 93.4vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    border-radius: 10px;
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    
}


.home {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.home-img img {
    width: 20vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 100px;
    box-shadow: 0 0 5rem var(--main-color);
     
}


@keyframes floatImage {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }

}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    
}


span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 2rem;
    margin: 20px;
    
}

.home-content ul li{
    font-size: 2rem;
    
}



/* Header styles for sections */
h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff; /* Accent color */
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Unordered list for skills */
ul {
    list-style-type: none;
    margin-top: 10px;
    padding-left: 0;
}

ul li {
    
    font-size: 1.6rem;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

/* Adding a custom bullet point to the list */
ul li::before {
    content: '•';
    color: #70f; /* Accent color */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.btn {
    cursor:  pointer;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    
}

.about-img img {
    width: 20vw;
    border-radius: 100px;
    box-shadow: 0 0 1rem var(--main-color);
    margin: 100px;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    margin: 20px;
}

.about-content h3 {
    margin-top: 20px;
    font-size: 3rem;
    color: #ffffff;
}

.about-content ul {
    margin-left: 20px;
    padding-left: 20px;
   
    font-size: 1.6rem;
}

.about-content ul ul {
    margin-left: 20px;
    padding-left: 20px;
   
    
}

.about-content p {
    line-height: 2;
    font-size: 3rem;
}


/* Services container styling */
.services {
    display: flex;
    justify-content: center;  /* Centers the content horizontally */
    align-items: center;      /* Centers the content vertically */
    flex-direction: column;   /* Stacks the items vertically */
    padding: 100px 0;         /* Add padding to the top and bottom for spacing */
}

/* Styling for h2 */
.services h2 {
    margin-bottom: 5rem;
    margin-top: 0;            /* Adjust top margin if necessary */
    text-align: center;       /* Ensures the text is centered */
}

/* Styling for the services container */
.services-container {
    display: flex;
    justify-content: center;   /* Centers the items horizontally within the container */
    align-items: center;       /* Aligns the items vertically within the container */
    flex-wrap: wrap;           /* Allows wrapping of items if necessary */
    gap: 2rem;                 /* Adds space between the items */
    max-width: 1200px;         /* Optional: Set a max width to prevent stretching */
    width: 100%;               /* Ensures it takes up full width but doesn't stretch too much */
    margin: 0 auto;            /* Centers the container horizontally */
}


.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s;

}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);

}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;

}

/* Ensure the parent container of the h2 is a flex container */
.portfolio {
    display: flex;
    justify-content: center;  /* Horizontally centers the content */
    align-items: center;      /* Vertically centers the content */
    flex-direction: column;   /* Ensures the items stack vertically if needed */
        
    background: var(--second-bg-color);        /* Optional: makes the container take full viewport height */
}

/* Style for the h2 */
.portfolio h2 {
    margin-bottom: 4rem;  /* Keeps the bottom margin */
    text-align: center;    /* Optional: ensures the text inside h2 is centered */
}


.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    
    
}

.portfolio-box img {
    width: 500px;
    height: 300px;
    transition: .5 ease;

}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}



.project-box01 img {
    display: block;  /* Gör att `margin: auto` fungerar */
    margin: 10px auto; /* Auto centrering på sidorna */
    width: 100%;
    max-width: 400px;
    height: 800px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

/* Hover effekt för bilder */
.project-box01 img:hover {
    transform: scale(1.05);  /* Gör bilden något större när man hovrar */
}

/* För att styla projekt-boxen */
.project-box01 {
    display: flex;
    flex-wrap: wrap; /* Gör att bilderna kan radbrytas */
    justify-content: center; /* Centrerar bilderna horisontellt */
    padding: 20px;
    padding-top: 100px;
    
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* För rubriker */
.project-box01 h6 {
    
    font-size: 4em;
    margin-bottom: 20px;
}

/* För listan under rubriken */
.project-box01 ul {
   
   margin-top: 100px;
    font-size: 3em;
}

/* För list-items */
.project-box01 ul li {
    margin-bottom: 10px;
}






.project-box00 img {
    display: block;  /* Gör att `margin: auto` fungerar */
    margin: 10px auto; /* Auto centrering på sidorna */
    width: 100%;
    max-width: 400px;
    height: 800px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

/* Hover effekt för bilder */
.project-box00 img:hover {
    transform: scale(1.05);  /* Gör bilden något större när man hovrar */
}

/* För att styla projekt-boxen */
.project-box00 {
    display: flex;
    flex-wrap: wrap; /* Gör att bilderna kan radbrytas */
    justify-content: center; /* Centrerar bilderna horisontellt */
    padding: 20px;
    padding-top: 100px;
    
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* För rubriker */
.project-box00 h6 {
    
    font-size: 4em;
    margin-bottom: 20px;
}

/* För listan under rubriken */
.project-box00 ul {
   
   margin-top: 100px;
    font-size: 3em;
}

/* För list-items */
.project-box00 ul li {
    margin-bottom: 10px;
}



.project-box img {
    display: block;  /* Gör att `margin: auto` fungerar */
    margin: 10px auto; /* Auto centrering på sidorna */
    width: 100%;
    max-width: 400px;
    height: 800px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

/* Hover effekt för bilder */
.project-box img:hover {
    transform: scale(1.05);  /* Gör bilden något större när man hovrar */
}

/* För att styla projekt-boxen */
.project-box {
    display: flex;
    flex-wrap: wrap; /* Gör att bilderna kan radbrytas */
    justify-content: center; /* Centrerar bilderna horisontellt */
    padding: 20px;
    padding-top: 100px;
    
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* För rubriker */
.project-box h6 {
    
    font-size: 4em;
    margin-bottom: 20px;
}

/* För listan under rubriken */
.project-box ul {
   
   margin-top: 100px;
    font-size: 3em;
}

/* För list-items */
.project-box ul li {
    margin-bottom: 10px;
}


.project-box2 img {
    display: block;  /* Gör att `margin: auto` fungerar */
    margin: 10px auto; /* Auto centrering på sidorna */
    width: 100%;
    max-width: 400px;
    height: 850px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

/* Hover effekt för bilder */
.project-box2 img:hover {
    transform: scale(1.05);  /* Gör bilden något större när man hovrar */
}

/* För att styla projekt-boxen */
.project-box2 {
    display: flex;
    flex-wrap: wrap; /* Gör att bilderna kan radbrytas */
    justify-content: center; /* Centrerar bilderna horisontellt */
    padding: 20px;
    padding-top: 100px;
    
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* För rubriker */
.project-box2 h6 {
    
    font-size: 4em;
    margin-bottom: 20px;
}

/* För listan under rubriken */
.project-box2 ul {
   
   margin-top: 100px;
    font-size: 3em;
}

/* För list-items */
.project-box2 ul li {
    margin-bottom: 10px;
}



/* För att hantera bilder i projektsektionen och göra dem samma storlek */
.project-box02 img {
    display: block;  /* Gör att `margin: auto` fungerar */
    margin: 10px auto; /* Auto centrering på sidorna */
    width: 100%;
    max-width: 400px;
    height: 850px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

/* Hover effekt för bilder */
.project-box02 img:hover {
    transform: scale(1.05);  /* Gör bilden något större när man hovrar */
}

/* För att styla projekt-boxen */
.project-box02 {
    display: flex;
    flex-wrap: wrap; /* Gör att bilderna kan radbrytas */
    justify-content: center; /* Centrerar bilderna horisontellt */
    padding: 20px;
    padding-top: 100px;
    
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* För rubriker */
.project-box02 h6 {
    
    font-size: 4em;
    margin-bottom: 20px;
}

/* För listan under rubriken */
.project-box02 ul {
   
   margin-top: 100px;
    font-size: 3em;
}

/* För list-items */
.project-box02 ul li {
    margin-bottom: 10px;
}

/* För att hantera bilder i projektsektionen och göra dem samma storlek */
.project-box3 img {
    display: block;  /* Gör att `margin: auto` fungerar */
    margin: 10px auto; /* Auto centrering på sidorna */
    width: 100%;
    max-width: 400px;
    height: 850px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

/* Hover effekt för bilder */
.project-box3 img:hover {
    transform: scale(1.05);  /* Gör bilden något större när man hovrar */
}

/* För att styla projekt-boxen */
.project-box3 {
    display: flex;
    flex-wrap: wrap; /* Gör att bilderna kan radbrytas */
    justify-content: center; /* Centrerar bilderna horisontellt */
    padding: 20px;
    padding-top: 100px;
    
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* För rubriker */
.project-box3 h6 {
    
    font-size: 4em;
    margin-bottom: 20px;
}

/* För listan under rubriken */
.project-box3 ul {
   
   margin-top: 100px;
    font-size: 3em;
}

/* För list-items */
.project-box3 ul li {
    margin-bottom: 10px;
}





.project-box4 img {
    display: block;  /* Gör att `margin: auto` fungerar */
    margin: 10px auto; /* Auto centrering på sidorna */
    width: 100%;
    max-width: 400px;
    height: 850px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

/* Hover effekt för bilder */
.project-box4 img:hover {
    transform: scale(1.05);  /* Gör bilden något större när man hovrar */
}

/* För att styla projekt-boxen */
.project-box4 {
    display: flex;
    flex-wrap: wrap; /* Gör att bilderna kan radbrytas */
    justify-content: center; /* Centrerar bilderna horisontellt */
    padding: 20px;
    padding-top: 100px;
    
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* För rubriker */
.project-box4 h6 {
    
    font-size: 4em;
    margin-bottom: 20px;
}

/* För listan under rubriken */
.project-box4 ul {
   
   margin-top: 100px;
    font-size: 3em;
}

/* För list-items */
.project-box4 ul li {
    margin-bottom: 10px;
}



.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}


.contact {
    display: flex;
    justify-content: center;  /* Centers the content horizontally */
    align-items: center;      /* Centers the content vertically */
    flex-direction: column;   /* Stacks the items vertically */
    padding: 100px 0;         /* Add padding to the top and bottom for spacing */
    text-align: center; 
          /* Ensures the text is centered */
}


/* Styling for h2 in Contact */
.contact h2 {
    margin-bottom: 3rem;
    margin-top: 0;            /* Adjust top margin if necessary */
    text-align: center;       /* Ensures the heading is centered */
}

/* Styling for contact form */
.contact form {
    max-width: 70rem;         /* Limits the width of the form */
    margin: 1rem auto;        /* Centers the form horizontally and adds margin */
    padding: 2rem;            /* Add padding inside the form for spacing */
    text-align: center;       /* Centers the form text */
    margin-bottom: 3rem;      /* Add bottom margin for spacing */
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor:  pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}


.footer-text p {
    font-size: 2rem;
    
    
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
    margin-left: 20px;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

 /* BREAKPOINTS  */

 
 @media (max-width: 1200px) {
    .multiple-text {
        font-size: 2.5rem; /* Adjust size for visibility on mobile */
        display: inline;   /* Ensure it is displayed */
      }
    html {
        font-size: 55%;
    }
 }

 @media (max-width: 991px) {
    .multiple-text {
        font-size: 2.5rem; /* Adjust size for visibility on mobile */
        display: inline;   /* Ensure it is displayed */
      }
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
 }
 @media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }  
    
    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }
    

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2,1fr);
    }
 }
@media (max-width: 617px) {
    .multiple-text {
        font-size: 2.5rem; /* Adjust size for visibility on mobile */
        display: inline;   /* Ensure it is displayed */
      }
    .portfolio-container {
        grid-template-columns: 1fr;
    }
} 

@media (max-width: 450px) {
    .multiple-text {
        font-size: 2.5rem; /* Adjust size for visibility on mobile */
        display: inline;   /* Ensure it is displayed */
      }
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {

    .multiple-text {
        font-size: 2.5rem; /* Adjust size for visibility on mobile */
        display: inline;   /* Ensure it is displayed */
      }
      
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}








